.Property {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;

  .infoLink {
    text-decoration: none;
    color: rgb(22, 22, 22);
  }

  .image {
    object-fit: cover;
    cursor: pointer;
  }

  .title {
    font-size: 1.3em;
    cursor: pointer;

    .verifiedIcon {
      color: green;
      font-size: 20px;
      margin-right: 10px;
    }
  }

  .downSection {
    display: flex;
    gap: 20px;
    align-items: center;
    color: rgb(26, 148, 254);

    p {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .logo {
      border-radius: 100%;
      object-fit: cover;
      position: absolute;
      bottom: 75px;
      right: 20px;
    }
  }
}
